<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor2">


<body>

The name tic tac toe comes from a game by the same name, no longer played, in which players with their eyes closed tossed a pencil down onto a slate marked with numbers, and earned the score the number indicated--something like blind darts. The game dates to the mid- to late 1800s. "Ticktack," according to the Random House Dictionary of English language, is a repetitive sound made by repetitive tapping, knocking or clicking. Thus, "tic tac toe" is an imitation of the sound the pencil makes when hitting the slate.

<br></p></center>