<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor">
It's time for everybody's favorite game..... TIC....TAC......TOOOOOOOEEEEEE!!!!!!

Wait... Tic Tac Toe? Are you sure? Everyone's favorite huh?

OK....ummm... well I guess that's fine. Here's some options for ya. Click on something will ya?
<br></p></center>

<body>
    <header>
        <ul>
            <li class = "textcolor1"><a href = "/">Home</a></li>
            <li class = "textcolor1"><a href = "/history">History</a></li>
            <li class = "textcolor2"><a href = "/rules">How to Play</a></li>
            <li class = "textcolor2"><a href = "/player_1_name">Play Tic Tac Toe</a></li>
        </ul>
    </header>
 </body>   
 <footer><center><a href = "http://www.minedminds.org">Mined Minds</a></center></footer>