<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor">
Welcome to Jeremy's little Tic Tac Toe game!
<br></p></center>

<body>
    <header>
        <ul>
            <li class = "textcolor1"><a href = "/">Home</a></li>
            <li class = "textcolor1"><a href = "/history">History</a></li>
            <li class = "textcolor2"><a href = "/rules">How to Play</a></li>
            <li class = "textcolor2"><a href = "/play_game">Play Tic Tac Toe</a></li>
        </ul>
    </header>
 </body>   
 <footer><center><a href = "http://www.minedminds.org">Mined Minds</a></center></footer>
