What kind of opponent are do you want?


<div class="form-container">
	<form action='opponent' method='post'>
	    <p>Player Two</span> will be O</p>
	    <select autofocus="autofocus" name='player_2'>
	        <option value='human'>Human</option>
	        <option value='sequential_ai'>Easy</option>
	        <option value='random_ai'>Medium</option>
	        <option value='unbeatable_ai'>Hard</option>
	    </select>
	    <input type="submit" value="Submit">
	</form>
</div>