Spectacular!!! You've chosen to actually play the game!!! </br>
That's what we are all here for right?</br>
 Player one, please stop stalling and give me what I'm sure will be a phenomenal name!
 </br>
 

<form method = "post" action = "player_1_name">

	<input type = "text" name = "player_1_name">

<br>

<input type = "submit">

</form>