Boy, was I wrong! </br>
That's a terrible name! </br>
Player 2, I'm sure your name is much more interesting than that! Hit me with it!





<form method = "post" action = "player_2_name">

	<input type = "text" name = "player_2_name">

<br>

<input type = "submit">

</form>