

<div class="form-container">
	<p>Player <span class="player-two">2</span>, what is your name?</p>
	<form action="/player_2_name" method="post">
	    <input type="text" name="player_2" autofocus="autofocus" placeholder="Enter name">
	    <input type="submit">
	</form>
</div>