

<div class="form-container">
	<p>Player <span class="player-one">1</span>, what is your name?</p>
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus="autofocus" placeholder="Enter name">
	    <input type="submit">
	</form>
</div>
