<div class='form-container'>
	<h1 id='results-header'><%= current_player.marker %> is the winner. Great job <%= current_player_name %></h1>

	<p><a class="myButton" href='/'>Play Again</a></p>

	<!--<p><a class="myButton" href="/update_csv">Results</a></p>-->
</div>	